/*
    COLOR SCHEME
    #D00123 = Red
    #029109 = Green
    #28AAFD = Light Blue
    #EFEBD8 = Off-White
*/

html {
    margin: 0;
    padding: 0;
    border: 15px solid #D00123;
}

body {
    background-color: #029109;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    border-radius: 12px;
}

a, a:visited {
    color: #EFEBD8;
    text-decoration-line: none;
    border-radius: 12px;
    padding: 20px;
}

a:hover {
    color: #28AAFD;
}

h1 {
    font-size: 45pt;
    color: #D00123;
    vertical-align: middle;
}

h2 {
    font-size: 45pt;
    vertical-align: middle;
}

button {
    background-color: #28AAFD;
    border-radius: 12px;
    font-size: 24pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFEBD8;
    padding: 12px 28px;
    transition-duration: 0.2s;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.about_me_photo {
    height: auto;
    width: 200px;
}

.about_me_photo_clickable {
    height: auto;
    width: 200px;
    transition-duration: 0.2s;
}

.about_me_photo_clickable:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}

.vertical_break {
    height: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
}

#heading_logo {
    vertical-align: middle;
}

#title_page_content {
    height: 55vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 25px;
}

#click_to_enter {
    font-size: 32pt;
    padding-top: 25px;
    vertical-align: top;
}



table {
    width: 85%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

table, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
}

tr {
    height: 100px;
    border-color: #000000;
    border-width: 2px;
}

#header_table, #header_table td {
    border: none;
}

#footer {
    padding-top: 15px;
}

#home_link {
    font-size: 10pt;
    color: #000000;
    text-align: right;
    align-content: right;
    background-image: none;
    border-radius: 0px;
    padding: 0px;
    margin-right: 10px;
}
